<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="980" />
    <add key="mainForm.Location.Y" value="190" />
    <add key="mainForm.Width" value="693" />
    <add key="mainForm.Height" value="791" />
    <add key="nMinFan" value="20" />
    <add key="nMaxFan" value="100" />
    <add key="cboMaxTempSource" value="2" />
    <add key="runSerialMenuItem" value="false" />
    <add key="sldPlotInterval" value="5" />
    <add key="sldLedBrightness" value="50" />
    <add key="sldManualColor" value="500" />
    <add key="sldManualFan" value="50" />
    <add key="chkManualColor" value="false" />
    <add key="chkManualFan" value="false" />
    <add key="nMinTemp" value="20" />
    <add key="nMaxTemp" value="80" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/lpc/it8721f/fan/2/plot" value="false" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEALuirdOeZ3bNg4HhwH8jrSdmDEBww/uqIwBig0zvGAAAAA==" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEALuirdOeZ3bNg4HhwH8jrSdmDGCg4QQAf754SBgAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEANu75l1bntk1DwaGA//NjsuYMwDBHZ92JwCjvoRNGAAAAA==" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAFvb+q4tz+yaBwPDgf9u72TMGcBAxwkA9UOqKhgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFN16WrLM7vmwcBw4H/4ijJzBiDgeLrRCQDUQbT/GAAAAA==" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAFN16WrLM7vmwcBw4H/4ijJzBjBQcAIAK8Bz/RgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADtyQr01z+yaBwPDgf/L/9ywYACCaY7bnQAA9IOfGAAAAA==" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEANuyUL01z+yaBwPDgf/blW9aMICBgBMAttpP0xgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAPsl9bIpz+yaBwPDgf/3tzxjZQCDFKcNpx3YYeyNNtlMEHaWU1xlFpSd5jThHTZ2ltNCUZj6FCTxHKf8BQj12NWkoagXSD4kCmMDAGrH7XeoAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAPsl9bIpz+yaBwPDgf/3tzxjZQCDBteASANTGBsAag406yQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAPsl9bIpz+yaBwPDgf/3tzxjZQCChMgfLhPeZTGB2BtKf7gsEM0GsxMiEOIMRT9cFkLFV5T9cMlfABFf0frDpf44VE0vQv2BboT6F2sR4hf2IvQ6bPzhwmBzSBTGhrthHpK96T9cNtpkw9kAtFZV48AAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAPsl9bIpz+yaBwPDgf/3tzxjZQCCgMvMrhPeZTGB2BpHmV0XiGaD2ReQxBmOM7suhIqvOcLsmr8AIq6zl9m1/jiE3bAToV5hF0I9z0qEuMRChN6E5cyuDDaHRGFsmJoVGxDshjPMrhttsuFsAMnVCTbAAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAHv5+UVTntk1DwaGA/8/3H7GygAEl1mdnCa8y2ICsT9JOzktEM0Gs7mRxAUknZwWQsU3yzg55S+AiOdoODnVH4ewNfQQavR0EXrvuSPYXiEIvVVeTk4MNodEYWyYml/WCHaFgJPTRptsOBsAJiFAhsAAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAHv5+UVTntk1DwaGA/8/3H7GygAF9kYGpjA2AMt+2n0kAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEADux9EVTntk1DwaGA/8FtZ6zMoDBCYf641lMEPYKh4Wi2VC2jOOEdzDxBw4ItgOSegOHBjh7AZKaB/YL4OY8cJgIF7/gkLcAxm6wR9hV4YhgdzkizJdBEn/gkA/Xy4Bk1wQcblNAcr8CkhoRJHEWx4022XAzARVUN0UgAQAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEADux9EVTntk1DwaGA/8FtZ6zMoCBiGP98SwmCPuGw0LRbCg7xXHCO5i4DBLbwQGhXsGhAc4+4YCkxn4B3BwZx4lwcRHHvAUwNgMDwq41jgj2GST3ZCCJyzjmw/U+sEfYtQHJ3gAktyG7XwBJTQSSuI/jRhuY+QwOALU3txcgAQAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEADux9EVTntk1DwaGA/8ZmJ+zMoDANhHXgEgDUxgbACpTF9skAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANtR96Ipz+yaBwPDgf8CWs9ZGYDg3ilr14BIA1MYGwAlQ7DrJAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANtR96Ipz+yaBwPDgf8CWs9ZGUBg2xSXgEgDUxgbADHW0hwkAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANtR96Ipz+yaBwPDgf8CWs9ZGUDgwlWXCe+ymMDsGUjsB0jsDUjsFdddGo7D1NxC0nsdwd6BJM5wE8HOuOFSD9PLcBshrnHdZaFoNoT94ipCTcZNl4lw99xBiCvcReg1QGJbILEZ7iLcWXDXZQHMfA8k8Yi7LgeTEeIAbls42SABAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAFse/qIpz+yaBwPDgf+CWs9ZGcDA02nCuywmCNsDiY0s7oXCrj+OTQ0y29tJ4e5VFhi7Aa7eB0XNAtFsuPjCQF0JGBsArHSfkagAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOvyvNOUZ3bNg4HhwP9Ln3vZGECgochhwrssJhAzxKHcQdUvB8xW8al2+N2XCWa/yCmHq9HQr3SoPw5hn4kvhotHeFTC2XdKK+DsmEUVDg1Q9S9UauDic9IRaq6EI8w50ZEOZ3+oioTbVWIVCBfneBLmsMkmG8xmUUt0yFsAETc4mOIwEWbOkmS43gPcWQi3SRU58BbmgdkVFeUOwjnpYLaNSbEDACwpvBogAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOvyvNOUZ3bNg4HhwP9Ln3vZGIBA5zyj44R3WUwgtvh8BkdVvxww283iv8Pvvkww+9NkBriaJGUGx/rjELbldIReMVmEmq2BCPZUNwbHBqj6J6f/OcDEXUMRasxnIsz51cMCZxcIcMDt6lfggotrbeNw3GSTDWavVmVzzFsAEX9gx+o4EWZOKytcr80bZrje0heMjryFeWA230QGR+GcdDBbdhGjIwA9OawtIAEAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOvyvNOUZ3bNg4HhwP9Ln3vZGIAgK6TDacK7LCYQm0+03UnVLwfMlmBtc/rdlwlmR3G2w9UoTW5zqj8OYS+XROht62mDs08eRrCldrQ5NUDV651phYu3H0eo2SeNMKfCtBvOlnnWB7frsMBEuLjWlH6nTTbZYPbGRz1OeQsg4n4fup0mQtX8suqB613R0wXX+yOvw4m3MA/MDmRrdxLOSYf4V7XDCQCwBSkfIAEAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAPuw40xTntk1DwaGA/9PnGBiYwCCGS9SXCe8y2ICsV1ro+FsNyR2sGECijj/tqss6GrckdiuaHobjmOqcQGyF4hmg9mhSGrc0NTUY9EbiOQeD6D4RCg7BChej8UcNzS3HUrOhrsNAN6ctZAUAQAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAPuw40xTntk1DwaGA/+3L2RiYwCClIZo1wnvsphAbNdaBDvEMAHODkZig8QbjkPYbkjqkdnutdjNBLHrj2OqCQKauVA0G8wOBbLrsZjvAmQ3YNEbiOQ2DzT3YzPHDc09h5Kz4WwAF0uqECABAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALs/8UxTntk1DwaGA/93LGRiYwCClIZo1wnvsphAbNdaBDvEMMFV4e5VFhi7/jhE3A1JDTLbvRa7OSB2w3FMNUFAMxeIZsPNacBivguQDbM3FKgeJh6IxPZAczM2c0KQ1IPccyg5G84GALzh/jIUAQAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALs/8UxTntk1DwaGA/+XVzGxMQBBSkO064R3WUwgtmstgh1imIBTvOE4hO2GJI7MdkdiJz1NQTGnHqo3FMl8Fxzqkc0EqYHZG4ak1xlJTRiam2F2IfslGcl8kF2HkrPh6gH4rnipIAEAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALs/8UxTntk1DwaGA/+nBTOxMQBBp0mC64R3WUwgtmttNJzthsRGFg8xTHBtOI6pBpntjsQumJmJYg5Mb6ghwl4XJPVJT1OwmpkIFK+H6k1BUuOMpAZZHNkuZHOQ7QXZdTA5G64eAEqvi+MgAQAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALs/8UxTntk1DwaGA//bdJjYGICg0yTBdcK7LCYQ27U2Gs52Q2IHGyagiNcfh7BD0MRhbHc0vRORzIfpDUXS64KkHpeZiU9TXBuw6HVGUuOBxEa2yw2H+SC3HUrOhqsHAFbI2/wgAQAA" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEADuXdaYpz+yaBwPDgf+vxJjZGIDg+XoP5wnvsphAbN61CDbPWuziIHb9cUw1yGw+HOIgdsNxTDXcQPYC0Wy4+TA16O6pxyLOhcTmB7InkuBOkJpDydlwcQDFqt+kIAEAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEANvnfKYpz+yaBwPDgf/TgpnYGECgwdhpwrssJgz2AiT2AyME28HYqeE4FjUHkNgMJtjNaTBxqj+OYCPMRFaPyp4IYycg6UVW04CDDVTTgM0uZHaCqdPB5GyouKkTABPSUYYgAQAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEACvdvaMpz+yaBwPDgf/3b4uyMQDBZI2jThPeZTGB2Dc798PZJtoH4WwR671wNgPDPqeG4xD2JmGEmrKkw1jNmXcDoQakvv44pjiy3jdH9sHZGmXHnCZC2V1zD8H1JqkfwaoXmV0OZDdgUQ8yB5l9MDkbzDZXOeIEADK0t2IgAQAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEACvdvaMpz+yaBwPDgf/3b4uyMQDBWcGjThPeZTGB2F1zD8HZYT574WxGhn1wNgOQ3XAcwn57BCG+SfggihoY+80RVL31UL3+b3bBxYWt92LVq1F2zGkilD3vxkG43mN+B+Bqbnbux8oGuQfmzrKkw1j9WA4UP5icDWY37d7nBAAZeu72IAEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAEuZsqMpz+yaBwPDgf8fmMTYGIDAeuNRpwnvsphA7K65h+Bsj7QDcLaI9V44+5jfAaeG4xB2WdJhuLj/myNw9o3O/XA2A8M+OBukvh6q9yYONW+OINgaZcecJkLZ824chOsFsZHNhLGP+h1AMQebO5HZSepHnA4mZ4PZEwMPOAEAyo4rQSABAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAEuZsqMpz+yaBwPDgf8fmMTYGICAT/qY04R3WUwgdlnSYTi7Z8UhOFvEei+cfbNzv1PDcQj7qN8BuHiy+hE4u3suQu+8Gwfh7LdH9jnVQ/UeQ9ILMhPG7kLSy8BwwmkilJ0ENB+mF9nMTcIHseoFuQfmTmR/Iavxf3PE6WByNpgdN+uQEwA2ENG9IAEAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAEuZsqMpz+yaBwPDgf8fmMTYGIBgXfNRpwnvsphA7CT1I3B29ez9cLZG2R44e96Ng04NxyHssqTDcHFk9s1OhN6uuYfg7HKgmvrjCHNg4jYbd2PVa7PxqNNEKHuT8EG4XhAbpiYZyc3H/A6gsGHutN6I3Y8gvQeTs8HsvAWHnACB9o7NIAEAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAEuZsqMpz+yaBwPDgf8fmMTYGIDgwLdjThPeZTGB2GVJh+Hsp0r74GwR671w9rwbB50ajkPYXXMPwcWtNx6FszXKEGbe7NyPorceqjfgzRG4OLI5IDXI5kyEspPUj8D1Jqtj17tJGKEXpKYBi/pyJD/aAN18MDkbzM66fdAJANfhOTwgAQAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAAvJ3dGUZ3bNg4HhwH8GLTE2BiDQO3DUacK7LCYQu3PuITj79IP9cLaI9V442+/NfqeG4xD2z2kH4eJvjhyGs+99OgBnT89HsDcJH3Sqh+rNnIAQZ8tE2OX/BsH+Ne2Y00QouwvoNpheEWuEO59GI9gtJgj3FPw8CHfnBLYjcPFLCgh3JqsfcTqYnA1mT9120AkAqSfJ0yABAAA=" />
    <add key="/lpc/it8721f/control/2/values" value="" />
    <add key="/lpc/it8721f/control/1/values" value="H4sIAAAAAAAEAOO9btWUZ3bNg4HhwP/X1XrsDFAg/0TfFMYGAN4Vxx4kAAAA" />
    <add key="/lpc/it8721f/control/0/values" value="" />
    <add key="/lpc/it8721f/fan/4/values" value="" />
    <add key="/lpc/it8721f/fan/3/values" value="" />
    <add key="/lpc/it8721f/fan/2/values" value="H4sIAAAAAAAEANslbNWUZ3bNg4HhwH87e312BiCoWdHoMuFdFhOI3Vfa6KLqlwNmP8hodPndlwlmuzch1Oyc3ejScBzC9kASf3wOwX6S0QRnz+lvcqmHqt/YhBBHZt9CUg/SOxGL3o45CDXHSptcNtpkw83JX4BpJkiNrLoLO4wtnJMOVwMAnfMp/AgBAAA=" />
    <add key="/lpc/it8721f/fan/1/values" value="H4sIAAAAAAAEANslbNWUZ3bNg4HhwH87e312BiiQf6JvCmMDAFum2k0kAAAA" />
    <add key="/lpc/it8721f/fan/0/values" value="H4sIAAAAAAAEANslbNWUZ3bNg4HhwH87e312BiA4kD3JZcK7LCYQm8l6kouqXw6YfVFrksvvvkwwe4EUQg1IvOE4hN0YjRB/9w7BXjJ3Cpw9W2iqSz1UfaDJVLj4LCEEO9gVwQ4CsidC2XnKCL0gNkxNAtCcjTbZYPYOxqku+Qsg4scZUdXA3KkWhhDnTJ/qwluYBzdTOCcdzH7yYYoLACJdGIUgAQAA" />
    <add key="/lpc/it8721f/temperature/2/values" value="" />
    <add key="/lpc/it8721f/temperature/1/values" value="H4sIAAAAAAAEAEsPsGzKM7vmwcBw4P9EJgN2BjAwcJJ/om8KYwMAZQt7qyQAAAA=" />
    <add key="/lpc/it8721f/temperature/0/values" value="H4sIAAAAAAAEAEsPsGzKM7vmwcBw4P9EJgN2BjDIcDrQKMYDY094l8UEYWcisXOc7FudVWBsALVQVi5IAAAA" />
    <add key="/lpc/it8721f/voltage/8/values" value="H4sIAAAAAAAEAAvTtGzKM7vmwcBw4P8iTQN2BiBgawx1kH+ibwpjAwDZijmlJAAAAA==" />
    <add key="/lpc/it8721f/voltage/7/values" value="H4sIAAAAAAAEAAvTtGzKM7vmwcBw4P8iTQN2BiBoPnDKXv6JvimMDQDhj/BDJAAAAA==" />
    <add key="/lpc/it8721f/voltage/6/values" value="H4sIAAAAAAAEAHNjsmzKM7vmwcBw4P+mAAN2BiBg0ma3l3+ibwpjAwCL/8FFJAAAAA==" />
    <add key="/lpc/it8721f/voltage/5/values" value="H4sIAAAAAAAEAHNjsmzKM7vmwcBw4P+mAAN2BiBY567oIP9E3xTGBgBit9xDJAAAAA==" />
    <add key="/lpc/it8721f/voltage/4/values" value="H4sIAAAAAAAEAHNjsmzKM7vmwcBw4P+mAAN2BiDguu7sIP9E3xTGBgCbdqjTJAAAAA==" />
    <add key="/lpc/it8721f/voltage/3/values" value="H4sIAAAAAAAEAHNjsmzKM7vmwcBw4P+mAAN2BiDQjDlvz1NxwgjGFs5JZwKxb/88Zw8ALYVUgjAAAAA=" />
    <add key="/lpc/it8721f/voltage/2/values" value="H4sIAAAAAAAEAHNjsmzKM7vmwcBw4P+mAAN2BiBwSphqP+FdFhOIfVdlmr2qXw6YzXV9sv3vvkwwO8JyClwNSLzheBaG+Je/qGr4t11lgbFh4ntKEOzj3tPh7GWzp9hPRNJbDzVfu30ait6NNtlwdv4CiPhFpdlY3YZsF8idvIV5cDXCOelwNQDWVsGJFAEAAA==" />
    <add key="/lpc/it8721f/voltage/1/values" value="H4sIAAAAAAAEAHNjsmzKM7vmwcBw4P+mAAN2BiC4oGTsMOFdFhOI/SPY2EHVLwfMniJh4vC7LxPMdtuGUJPz3Nih4ThCPbI4jL3L0wTFzHqoepCZMHFkNrI5IPZEJDOx6QWJb7TJhtuVvwDTDSA3N2DRq9Bq7MBbmAdmuwLVCOekw/UCADWBVnQgAQAA" />
    <add key="/lpc/it8721f/voltage/0/values" value="H4sIAAAAAAAEADO9bdGUZ3bNg4HhwP/D5QbsDEAwRcLEYcK7LCYQe5eniYOqXw6YPRko/rsvEy4OUwMSbziehSGe89wYznbbZowiXg9Vn4ekRqHVGMVeZPZEJHNgepHNB6nZaJMNNzN/AXb3YHMniM1bmMcE87twTjqcDQC0sx3KIAEAAA==" />
  </appSettings>
</configuration>