<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="694" />
    <add key="mainForm.Location.Y" value="220" />
    <add key="mainForm.Width" value="618" />
    <add key="mainForm.Height" value="744" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="/lpc/nct6779d/fan/2/plot" value="false" />
    <add key="/lpc/nct6779d/fan/3/plot" value="false" />
    <add key="/lpc/nct6779d/fan/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/hdd/3/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANusOU8m/dJNDwYGB6e6zclMDGBg62SwLAHKdnCSCMqGswHb262bMAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEALtZPk8m/dJNDwYgWBCrz84ABQDiNhDTGAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEALtZPk8m/dJND4YH4i4bW/TZGUAAyAYAOUidnxgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEALtZPk8m/dJND8aGU84bW/TZGYAAxAYAg0yjRxgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEALtZPk8m/dJND4YH0102tuizM4AAkA0AkD9tJxgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEALtZPk8m/dJNDwaGDw55m5OZGMAgwrF6WQKU/cD+hFY2lL3AHgDdmP/CMAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEALtZPk8m/dJNDwaGAMe8zclMDGDQ4li9LAHKZnA8oZUNZbM4AgDhnUEuMAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEALtZPk8m/dJNDwYg2Niiz84ABQBPQb8wGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEALtZPk8m/dJNDwaGBru8zclMDGDQYF+9LAHKZmA4oZUNZwMALxPHqzAAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEALs7b55M+qWbHllPuZ06NiczMQDB/WJup9j6BDD78ydup0uB2WD2zD9cTgDZyHkEMAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEALs7b55M+qWbHgqbf7p0bE5mYgACBYVfLrH1CRD2sp8ulwKzwewFk365AAA42ko4MAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEALs7b55M+qWbHg982lw6NiczMQDBg/utLrH1CRB2ZJvLpcBsMDsht9UFAFOT79gwAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEALs7b55M+qWbHgwMDq7bW/TZGcDAwRUAmdshNhgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEALs7b55M+qWbHgxAsDZWn50BCgBpJ8izGAAAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAPv7Zp5M+qWbHpw6+Y4r/FOYGICAkSHb0fZxPJid9zzd8VhgNpgdwJvpCADJDT9+MAAAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGM1XSyTfummB0ODtYPOjWQmBhBY0OPA+yMBwgaCfMksCPvNSkcAKOc5cTAAAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAEv9uFwm/dJND4YGa/uk/8lMDCAAZP/5mQBhA4GyeBacDQA2oHAqMAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEANOdaSabfummx7Q3ek6G6UlMDEDwc7+ek8mnRDD7w0k9JwCyKhJVJAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEANOdaSabfummx6pSdUfD9CQmBiD44qXuaPIpEcyuDVF3BAAupaZbJAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEANOdaSabfummx7yKcEfD9CQmBiAIWRzuaPIpEcw+PTPcEQAW47QJJAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEANOdaSabfummR8XJFQ6G6UlMDEDw/EC/g8mnRDDbe7a9AwBL0M+tJAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEANOdaSabfummR8+anQ6G6UlMDCDg0Oxg8ikRzE55PtUBAHRs1GAkAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEANOdaSabfummx+TYWgfD9CQmBiBQYBZzMPmUCGYzNCg5AAAx0KGBJAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEANOdaSabfummh6nvZAfD9CQmBiDgsNR3MPmUCGbHmXg4AADjmYb5JAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEANOdaSabfummB8vBXgfD9CQmBhBosHYw+ZQIYTNMswcAg4ttByQAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEANOdaSabfummR/eqrQ6G6UlMDEBw4lyCg8mnRDA7bgunAwAnHQpaJAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEANOdaSabfummx4YlTx0M05OYGEDAwdTR5FMimK1m1ukAAKL4K8MkAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEANOdaSabfummB4MCk5NhehITAxj8dzT5lAhhO/xyBADEOhvmJAAAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEANOdaSabfummh/mTJY6G6UlMDEDwZdU8R5NPiWD2i/JJjgDjjPs9JAAAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEANOdaSabfummx4YPax0M05OYGIDgu/NSB5NPiWC2gmyMAwBV2Dp1JAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEANOdaSabfummx5NoL3vD9CQmBiBo7RSzN/mUCGaHuDDZAwDLxwU3JAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEANOdaSabfummh8+MBNfUyCMsDEAAYgMAR6t6/xgAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEANOdaSabfummB0Oitb1hehITAxBsaBG3N/mUCGav2//XDgDMwoIVJAAAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEANOdaSabfummh8+MBNfUyCMsDEAAYgMAR6t6/xgAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEANOdaSabfummxw1GKXvD9CQmBiCY3nfPzuRTIpjdUrvbDgCS/DUFJAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEANOdaSabfummh8+MBNfUyCMsDEAAYgMAR6t6/xgAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEANOdaSabfummxy2eTHvD9CQmBiCIUbO3N/mUCGbXLuCwBwC+mW9wJAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEANOdaSabfummh8+MBNfUyCMsDEAAYgMAR6t6/xgAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEANOdaSabfummR/f/yfaG6UlMDECQUl1kb/IpEcz+H2BuDwArFwg1JAAAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEANOdaSabfummh8+MBNfUyCMsDEAAYgMAR6t6/xgAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEANOdaSabfummR1bsfHvD9CQmBiCwmfLW3uRTIpgtvCDQHgCQDB1/JAAAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEANOdaSabfummh8+MBNfUyCMsDEAAYgMAR6t6/xgAAAA=" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEANOdaSabfummR3GGoH1q5BEWBiAAsQGqoOCkGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEANOdaSabfummx7MLi+xTI4+wMAABiA0A8/418xgAAAA=" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEANOdaSabfummhx1XuINhehITAxCA2CafEsHsE97hDgASd7OWJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEANOdaSabfummhx1XuENq5BEWBiAAsQEN7icJGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEANOdaSabfummx4vfL+0N05OYGIDgd90re5NPiXA2ABz1YfQkAAAA" />
    <add key="/lpc/nct6779d/voltage/5/values" value="H4sIAAAAAAAEANOdaSabfummx3r3RPvUyCMsDEAAYgMAvmbo0RgAAAA=" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEANOdaSabfummx/75s+xTI4+wMAABiA0ABey3OhgAAAA=" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEANOdaSabfummxzeNGIfUyCMsDEAAYgMAAlMIDBgAAAA=" />
    <add key="/lpc/nct6779d/voltage/8/values" value="" />
    <add key="/lpc/nct6779d/voltage/9/values" value="" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEANOdaSabfummx9+VhfaG6UlMDEAAYpt8SgSzbywusAcAk/sieiQAAAA=" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEANOdaSabfummh495p31q5BEWBiAAsQEM6auhGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEANOdaSabfummx1qZW/aG6UlMDEBgFnfL3uRTIph9YP4tewDvhpMTJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEANOdaSabfummx7z3y+1SI4+wMAABiA0ADOmWFRgAAAA=" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEANOdaSabfummx++6V/apkUdYGIAAxAYAhoe8DBgAAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEANOdaSabfummBwMDl5NhehITAxhwOpl8SoSyOZwASGXW7CQAAAA=" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEANOdaSabfummBwMDh5NhehITAxhwOJl8SoSy2ZwA3+IQ+iQAAAA=" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEANOdaSabfummBwNDgWNq5BEWBjAocAQAeaMsehgAAAA=" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEANOdaSabfummBwPDC8fUyCMsDGDwwhEA024sFRgAAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEANOdaSabfummBwPDBsfUyCMsDGCwwREAJGwccxgAAAA=" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEANOdaSabfummBwPDhYOpkUdYGMDgwkEAnS7u1xgAAAA=" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEANOdaSabfummBwMQpEYeYWGAAgDiULzeGAAAAA==" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEANOdaSabfummB1fHBRfD9CQmBiBgM73gYvIpEcxe7XrBBQADRpDjJAAAAA==" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEANOdaSabfummh413q4thehITAxA4vW1xMfmUCGZv+NXiAgCEN367JAAAAA==" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEANOdaSabfummh0eUgothehITAxCINSq4mHxKBLN3SCm4AABM/3I3JAAAAA==" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEANOdaSabfummx0lxXRfD9CQmBiBoOqbjYvIpEcxeeEjHBQCJ1a8MJAAAAA==" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEANOdaSabfummh7m5u1Nq5BEWBiAAsQEd8GwXGAAAAA==" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEANOdaSabfummh7m5u1Nq5BEWBiAAsQEd8GwXGAAAAA==" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEANOdaSabfummBwPDCafUyCMsDGBwwgkA3Q8PaRgAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEANOdaSabfummBwNDgVNq5BEWBjAocAIADZ7vXhgAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEANOdaSabfummBwNDgVNq5BEWBjAocAIADZ7vXhgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>