<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="501" />
    <add key="mainForm.Location.Y" value="335" />
    <add key="mainForm.Width" value="469" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/lpc/it8721f/fan/2/plot" value="false" />
    <add key="cboMaxTempSource" value="0" />
    <add key="nMaxFan" value="100" />
    <add key="nMinFan" value="15" />
    <add key="nMaxTemp" value="60" />
    <add key="nMinTemp" value="40" />
    <add key="chkManualFan" value="false" />
    <add key="chkManualColor" value="false" />
    <add key="sldManualFan" value="50" />
    <add key="sldManualColor" value="502" />
    <add key="sldLedBrightness" value="100" />
    <add key="sldPlotInterval" value="1" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="runSerialMenuItem" value="true" />
    <add key="startMinMenuItem" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/values" value="H4sIAAAAAAAEADM4zvjBRuOqR4TRMqcFPp0ijAwMDCA2AGDLiUoYAAAA" />
    <add key="/hdd/4/load/0/values" value="H4sIAAAAAAAEAGNQ0ftaq3/Vg4HhwP/4zIdmDCAQdNSO/1GLB4z9skruOROQecMzwUFQP/U6I5C9zVvB8YxWsyU7kO3Q+sTuT+BfeZCahN0q9vM/LIsC6828aSdmPwfMbvioZOcqIT0RLN6zyUbCoApiPkOK1ZyQmIkwdo/XoX8cIKbWZdv01RcmgIW9bG3jivkOMoPYNxxsAYoDQq+0AAAA" />
  </appSettings>
</configuration>