<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8720f/control/0/plot" value="false" />
    <add key="/lpc/it8720f/control/1/plot" value="false" />
    <add key="/lpc/it8720f/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/voltage/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/level/0/plot" value="false" />
    <add key="/amdcpu/0/level/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/2/plot" value="false" />
    <add key="/ram/data/3/plot" value="false" />
    <add key="/ram/load/1/plot" value="false" />
    <add key="/gpu/0/temperature/0/plot" value="false" />
    <add key="/gpu/0/clock/0/plot" value="false" />
    <add key="/gpu/0/clock/1/plot" value="false" />
    <add key="/gpu/0/clock/2/plot" value="false" />
    <add key="/gpu/0/load/0/plot" value="false" />
    <add key="/gpu/0/load/1/plot" value="false" />
    <add key="/gpu/0/load/2/plot" value="false" />
    <add key="/gpu/0/smalldata/3/plot" value="false" />
    <add key="/gpu/0/smalldata/2/plot" value="false" />
    <add key="/gpu/0/smalldata/1/plot" value="false" />
    <add key="/gpu/0/load/3/plot" value="false" />
    <add key="/gpu/0/power/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1056" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/3/load/32/plot" value="false" />
    <add key="/hdd/3/load/33/plot" value="false" />
    <add key="/hdd/3/throughput/34/plot" value="false" />
    <add key="/hdd/3/throughput/35/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/0/load/32/plot" value="false" />
    <add key="/hdd/0/load/33/plot" value="false" />
    <add key="/hdd/0/throughput/34/plot" value="false" />
    <add key="/hdd/0/throughput/35/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/2/load/32/plot" value="false" />
    <add key="/hdd/2/load/33/plot" value="false" />
    <add key="/hdd/2/throughput/34/plot" value="false" />
    <add key="/hdd/2/throughput/35/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/1/load/32/plot" value="false" />
    <add key="/hdd/1/load/33/plot" value="false" />
    <add key="/hdd/1/throughput/34/plot" value="false" />
    <add key="/hdd/1/throughput/35/plot" value="false" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/data/2/plot" value="false" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/data/3/plot" value="false" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/throughput/7/plot" value="false" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/throughput/8/plot" value="false" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/load/1/plot" value="false" />
    <add key="/lpc/it8720f/voltage/0/plot" value="false" />
    <add key="/lpc/it8720f/voltage/1/plot" value="false" />
    <add key="/lpc/it8720f/voltage/2/plot" value="false" />
    <add key="/lpc/it8720f/voltage/3/plot" value="false" />
    <add key="/lpc/it8720f/voltage/4/plot" value="false" />
    <add key="/lpc/it8720f/voltage/5/plot" value="false" />
    <add key="/lpc/it8720f/voltage/6/plot" value="false" />
    <add key="/lpc/it8720f/voltage/7/plot" value="false" />
    <add key="/lpc/it8720f/voltage/8/plot" value="false" />
    <add key="/lpc/it8720f/temperature/0/plot" value="false" />
    <add key="/lpc/it8720f/temperature/1/plot" value="false" />
    <add key="/lpc/it8720f/temperature/2/plot" value="false" />
    <add key="/lpc/it8720f/fan/0/plot" value="false" />
    <add key="/lpc/it8720f/fan/1/plot" value="false" />
    <add key="/lpc/it8720f/fan/2/plot" value="false" />
    <add key="cboMaxTempSource" value="0" />
    <add key="nMaxFan" value="100" />
    <add key="nMinFan" value="20" />
    <add key="nMaxTemp" value="80" />
    <add key="nMinTemp" value="20" />
    <add key="chkManualFan" value="false" />
    <add key="chkManualColor" value="false" />
    <add key="sldManualFan" value="50" />
    <add key="sldManualColor" value="500" />
    <add key="sldLedBrightness" value="50" />
    <add key="sldPlotInterval" value="5" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="-0.51005" />
    <add key="plotPanel.MaxVoltage" value="0.505" />
    <add key="plotPanel.MinClock" value="-0.51005" />
    <add key="plotPanel.MaxClock" value="0.505" />
    <add key="plotPanel.MinTemperature" value="-0.51005" />
    <add key="plotPanel.MaxTemperature" value="0.505" />
    <add key="plotPanel.MinLoad" value="-0.51005" />
    <add key="plotPanel.MaxLoad" value="0.505" />
    <add key="plotPanel.MinFrequency" value="-0.51005" />
    <add key="plotPanel.MaxFrequency" value="0.505" />
    <add key="plotPanel.MinFan" value="-0.51005" />
    <add key="plotPanel.MaxFan" value="0.505" />
    <add key="plotPanel.MinFlow" value="-0.51005" />
    <add key="plotPanel.MaxFlow" value="0.505" />
    <add key="plotPanel.MinControl" value="-0.51005" />
    <add key="plotPanel.MaxControl" value="0.505" />
    <add key="plotPanel.MinLevel" value="-0.51005" />
    <add key="plotPanel.MaxLevel" value="0.505" />
    <add key="plotPanel.MinFactor" value="-0.51005" />
    <add key="plotPanel.MaxFactor" value="0.505" />
    <add key="plotPanel.MinPower" value="-0.51005" />
    <add key="plotPanel.MaxPower" value="0.505" />
    <add key="plotPanel.MinData" value="-0.51005" />
    <add key="plotPanel.MaxData" value="0.505" />
    <add key="plotPanel.MinSmallData" value="-0.51005" />
    <add key="plotPanel.MaxSmallData" value="0.505" />
    <add key="plotPanel.MinThroughput" value="-0.51005" />
    <add key="plotPanel.MaxThroughput" value="0.505" />
    <add key="treeView.Columns.Sensor.Width" value="385" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="runSerialMenuItem" value="false" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/load/1/values" value="H4sIAAAAAAAEANv6Zh/z3dnXPUxCK2x5xIWYGIAgYKGR3RGfeDB7Q72K3SejJDB7/umNNh6NEDbr6UCb/ZEQdrlLoq04VNx63zVbV2MI+1WzmM1MqN6UY+22b6Fs1RkLbYQvJ4LZBrxeNkFRyWD28zP9Ni17IeLsG5ttfkHNv+qUYLPmAURNikubzdHv28BsJ01Hm3OFPGD24lIzmyfcEPVTvvvZfITaxaFTZhtwHsL+OHuv7XmoeJLoZpudyyFm1s2bb7uGcyY7Axgc+P9X5yCYNe2Apl3MrwSwGuOg3balshD18yessVkGdafBNy7bskiIOGtAoE1GPkSc9QqDjXoBxC6fGCabkFZ7YZj5b932gVkNjgF2k67HgdUIPVls+xbq/juM7bZG3yDsx9OP21x7AjFTS8XT1jkKIv5B84Rt3XOIeG93hm0w1G3fV/nY7IO67YxzmI2zIkT99FM6Nn5QNW4KCjbeefHsjFD3KDz+BmbV/2Sz43nyAiwsNcXTFhbvFfOibe9D3WaiIGXbVglh167fbcMCjXeBKZ420lC7FrYttgEAym4tLVgCAAA=" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/throughput/8/values" value="H4sIAAAAAAAEANv6Zh/z3dnXPcx2a7ryiAsxMQBBj06O6xGfeDB74p5C109GSWC29EQBF49GCHuW80Tn/ZFQ8ZTJLuJQcbtrRS6uxhD2u59TnWdC9cptXuTyFsoW0gpwEb6cCGZnfJ3gHBSVDGaXmkx0adkLEWdeweLyC2q+QeAn5zUPIGraf3C4HP2+Dcz2bFzvfK6QB8yuYJzs/IQbot7o1Abnj1C79A4auQach7CLUixcz0PF76U0uexcDjHTzTHLdQ3nTHYGMDjw/6/OQTCL85WAa8yvBLCaS1eEXEtlIeqlXLe5LIO6U6J8lktZJER8Uskv54x8iPhByUnO6gUQu2rqFzqHtNoLw8x/67YPzJJN3OE66XocWA0Lr57rW6j75XzSXY2+QdhTfrm4XHsCMbNrca+rcxREXL+W3bXuOURc9NMNl2Co2wo05znvg7pNZcozZ2dFiPql8Zuc/aBqhBynOHvnxbMzQt2j8PgbmNW0dp4rz5MXYOHrHn7weP+386nLfajbuHe8dWmrhLDrN1u4sEDjvcLjiLM0zK5nZS4AMdSRi1gCAAA=" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/throughput/7/values" value="H4sIAAAAAAAEANv6Zh/z3dnXPTq+TXflERdiYgAC36s9bkd84sHs1qBat09GSWD2uSxWV49GCFv60GKX/ZEQ9ovfG13FoeJy82zdXI0h7CsSIS4zoXqned9yfQtlFyidcRG+nAhmLy6e4xIUlQxmTxVqdGnZCxGvu7XD5RfU/A9eM13WPICouTd7t8vR79vAbO2wHpdzhTxgdpZjp8sTboj6Dr2ZLh+hdjGkTHQNOA9hG+xiczsPFXfSu+yycznEzKSg3a5rOGeyg9UzHPj/V+cgmKVzrN8t5lcCWE3Ve163UlmIetn7k1yWQd155YK1a1kkRHwCQ6dLRj5EvG21jot6AcSuu0/UXUJa7YVh5r912wdmFTTPcJt0PQ6sJmrSQ9e3UPeX3u51NfoGYRtK8bpeewIx88GeEy7OUdCwZZF1q3sOETfsXO4aDHVb/NLZLvugbtuxcZKLsyJE/bekAhc/qBoWr3QX77x4dkaoexQefwOzLkgZufE8eQEW1jUycoXFew7zDNf7ULdtl9F3bauEsI9fYHFlgcZ7pHa/izTULt/iPS4Alt5O2FgCAAA=" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/data/3/values" value="H4sIAAAAAAAEAEXSzyuDcRwH8GE9C5Oyw4qIC5ed5g/wlGhFS37UtmR+HCjar9rKRWQcHLTc1spFKDkRcTBTj6sVsoNk5QlpO6Am0+Lt8/nI9/Tq3fv5fD/1fQ5yyYq7RMZx5FNUs7Wu3IDzCGu9XrLTr6hv9nHyNOxYYIfgUzd7BbZKvg53tbN34Lh8q8F58TVsuRojZ+F+zwT5C46ecG4MKGpR5tfCu1nu1MPnH4fkVvgiaCbbYL2a+3b4Ve5ywX1p9gacljwFH2/zzKog5lfGTQY6qe+S7Yw0E1LU4eIodWJwuJH7e/CW7JmBI27OX+ApP+fvcFuA7/qEB5c6LH/z891J0mRYUdcyI9RZhfOyvw7bC+yaiKLe6DzTBXd6OI/Bc0+ca/CA7HYJJ2W3299+i8yEndLJwT0+r6lM9ml+KJBKi/gH9GeKm6L/7z4E38tu8/DyLDsBG+XdN+EGuWsf/gGB1OYXWAIAAA==" />
    <add key="/nic/{EC49A426-C5A4-4F7E-8EB9-14BEF75A0A29}/data/2/values" value="H4sIAAAAAAAEADXRTSjDcRgH8HmpJcvBDg4iL+H5F6XtpOgpr8Oat4stmRFz8Za3HCgs1oTstpZywkHahXIwlF0UOyg7IJMViWSHqUXz9Ht++50+ffv+n9/T/3f04U979IYM3kpATU52qorOgx7w0mgVLqkGjOr6hUtrAA2L7B3ymZltQ8Acme/XAjbo2bX1gB757Xwj4Kd0RROg9tYm7CN3WgaEswyAjlPO18hxOf+XfBDmzmQzYODnWPiLfDOhETa2AEYyuX9I/pZ3bbcCtgflzibAoMwDbYAnezyzu4PmZ3jUKnHOE3/lF0JhG2BPvE90VIOA03ncD5B35Z7OIcAZM+ctdsDhMc63yGXjfNc1ebYXtcn5VyN+oaVlQHeoV3SeHfR/5P6Vq4C6GNvqBLyL8MwIuc7C+b0LcOGV8591wC65W3AD0C93029Sv5D7brJJdt7JraNWdYrcp+AlJmTPV1ATeRNxlJx896oCBZ/kbr5CBVfm2K4iBdPluyfIufKuqWIF/wEDbo0XWAIAAA==" />
    <add key="/nvme/2/temperature/0/plot" value="false" />
    <add key="/nvme/2/level/1/plot" value="false" />
    <add key="/nvme/2/level/2/plot" value="false" />
    <add key="/nvme/2/level/3/plot" value="false" />
    <add key="/nvme/2/data/4/plot" value="false" />
    <add key="/nvme/2/data/5/plot" value="false" />
    <add key="/hdd/2/throughput/35/values" value="H4sIAAAAAAAEAFPXnMdyd/Z1j6U2Ox22XI9jYoCCowfW6cPYW89wsEFYB/5vuLyDEcS69XuHA/OKJLh6lmOvuWFsp3o3IZj6qR83g9XPvrrD4SU3Qr2XdKkojC3/OZWNEapef1YZmHlg2nYHh28I9Zu+IcwHAKbw3p20AAAA" />
    <add key="/hdd/2/throughput/34/values" value="H4sIAAAAAAAEAFPXnMdyd/Z1D6b91523XI9jYoCCowfW6cPYW89wsEFYB/5vuLyDEcTqLr7uzLwiCa6e5dhrbhjbqd5NCKZ+6sfNYPX/3a47v+RGqPeSLhWFseU/p7IxQtXrzyoDMxdcvurs8A2hftM3hPkA9x8YvbQAAAA=" />
    <add key="/hdd/2/load/33/values" value="H4sIAAAAAAAEAFtbvYf57uzrHt/ETzpq2AkxMQDBhcZVNrdnxYPZVvfX2/yPTAKz165jspWNgrA1XRJtnkPFk5+Y2fA2QthOilY2/MYQtoHSDZvzRhA218wgm09Q9qyatzYSlxPBbDkeZhveqGQwuz5ayubME4h4xWtjGwaoXVP+89gWZ0PUaJY42FRLd4HZXzL32oQetgSzpX4x2d6G6j0mOtGGC+qGiLoSG8lvEHYiV5vNE6iaHJFsm9LlEDM3yobaWB20YGcAgwP/589RZASxmKedcKz6lQBWc8qhwMZTFqL+mewsG8F9EHO+fbpmfZ0LIh58S8DmL9T8ks53Nh89IPb+E15rc1D0vhDM/Mx+ObD5LbwnHHuux4HVHBGYAfevos12G/PzEDZftCA8TOauWWfDB1WzYrOVzd7nEHF91zIbP6jbqs/Nstm6FyLOG7TIJgrqBuO4EJt0aDisWllsk2D9j40R6p6DleFg5tHsE44GDS/BbOvlk2y+QeOrRHWHzTtuCPuOQZ1NeyWEzfv1tg3TCgh78px7Nv9/Quy9cGSVDQBVruPqWAIAAA==" />
    <add key="/hdd/2/load/32/values" value="H4sIAAAAAAAEAFtbvYf57uzrHlX95voadkJMDFDgJrxWH8a2OmjBDmEd+D9/jiIjiAVSX/UrAa5eXuQNN4x9UPS+EEx9Zr8cXH3P9Ti4+kmZpaIwdoL1PzZGqPqDleFw9QYNLxlhanKiXsPNBwA4INpBtAAAAA==" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/nvme/2/load/0/plot" value="false" />
    <add key="/nvme/2/load/32/plot" value="false" />
    <add key="/nvme/2/load/33/plot" value="false" />
    <add key="/nvme/2/throughput/34/plot" value="false" />
    <add key="/nvme/2/throughput/35/plot" value="false" />
    <add key="/nic/{6A0B43E3-4D58-452F-A099-C26F51FB6DBE}/data/2/plot" value="false" />
    <add key="/hdd/3/throughput/35/values" value="H4sIAAAAAAAEAPsSM4Pl7uzrHh6zNropX05gYgCCzxdS3b5GJoHZIPBAwkcXxn63ZhcrhHXg//UMdrCauzbz3c42INT/RtIr3ghhS23pd3uRhxDnWnyEBcYW9fsuCDPz8G8msJpv+2LdjXgg6ivlTNxPLEfofcENYVdoMrhWTEoGs/d/yXXL+gtxv8X5B24fjSBqWMQaXBiiEHpDPSDsFw75bixI4kKNCLabhwQbI9Q9gjlHwEw3yT1uWisgaqxM6t3uQd1w7HS127bZCL2MGursMDYA3SGPP1wBAAA=" />
    <add key="/hdd/3/throughput/34/values" value="H4sIAAAAAAAEAPsSM4Pl7uzrHp9eWbkpX05gYoCCq0Xr9GHsd2t2sUJYB/5fz2AHq+lfaeV2tiEJrp7l7WtuGFvU77sgTP3h30xgNd+brNyMeBDqTyyHsF8y/3d/wY0Qt3PYIABju3lIsDFCzRHMOQJm7vaxdNNagVA/9TzCXgDxyrTgzAAAAA==" />
    <add key="/hdd/3/load/33/values" value="H4sIAAAAAAAEAFs4czvz3dnXPa5kn3BU+CDIxAAEZltbbBJ/JYDZCQ87bZSMk8BsELjTAGGv01G1ZYiCsqcvthFqRKi5xw1hP//paQNTYyM80+bzk0Qwe5ruFBshRaj6E4U2zlHJYLZdUrZ19TSIGseAaBvbFRA1f/mKbQSh7JYCTZtDLRA14SphNq7fIOLprnU2F6Hms7ivsPkVCRE/mBtt4whVs25el81fqBregLk2X/dAxDMtM2xWi71mg7j+wH8n93xGECts/wnHl1C/vJQ4aWNzHsL+c1/YZgvUnCfr99jwPoGIux+fZ/MHqj7+2g1r2QIIW7lWzKb1Sb8QzHyX9Tlg85+1n3C8fzAerObpquc2v6FufvV+qYMR1C5XxYM2ojwQtpvlIpttRhB2Ll+G7S0+CNuf3dU6FBo+DJdv2ByEqjnNP8nGGRrOtdUONv+h5i/8km9zh3UjGyPUPc7XloCZU3RPONaeewlmn9a7bsMCjbuQdz62T6D++nVQ0KZ7AYRtdqsQbuaRmUU26pchYWKtu8YGAHmK+/9YAgAA" />
    <add key="/hdd/3/load/32/values" value="H4sIAAAAAAAEAFs4czvz3dnXPbqsZGwUPggyMUBB4q8EMLtjf7SNknESXPxR1CstGHu12Gs2COvAfyf3fEYQ63viVZOX3Aj1NucR7C1PEsFsi78RNrxPIOIP/8TY/EFSL1uAYLc+6ReCme+yPgdsfuYMadszs+LBarabTbfha4So373+pY0R1K5CLmcbUR4Iu8gn1mabEYSd5Z5ke4sPYX7oCgg7Om+m9UGomo1RLTbOigg1/yMR7DusG9kYoe5xvrYEzJT5K2xbsvwlmM2nOMOGF+oejwepNk+Q/LXxrBo7jA0APkLQHHQBAAA=" />
    <add key="/hdd/3/load/0/values" value="" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/nic/{6A0B43E3-4D58-452F-A099-C26F51FB6DBE}/data/3/plot" value="false" />
    <add key="/nic/{6A0B43E3-4D58-452F-A099-C26F51FB6DBE}/throughput/7/plot" value="false" />
    <add key="/nic/{6A0B43E3-4D58-452F-A099-C26F51FB6DBE}/throughput/8/plot" value="false" />
    <add key="/nic/{6A0B43E3-4D58-452F-A099-C26F51FB6DBE}/load/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/0/plot" value="false" />
    <add key="/lpc/it8686e/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/2/plot" value="false" />
    <add key="/lpc/it8686e/voltage/3/plot" value="false" />
    <add key="/lpc/it8686e/voltage/4/plot" value="false" />
    <add key="/lpc/it8686e/voltage/5/plot" value="false" />
    <add key="/lpc/it8686e/voltage/6/plot" value="false" />
    <add key="/lpc/it8686e/voltage/7/plot" value="false" />
    <add key="/lpc/it8686e/voltage/8/plot" value="false" />
    <add key="/lpc/it8686e/temperature/0/plot" value="false" />
    <add key="/lpc/it8686e/temperature/1/plot" value="false" />
    <add key="/lpc/it8686e/temperature/2/plot" value="false" />
    <add key="/lpc/it8686e/temperature/3/plot" value="false" />
    <add key="/lpc/it8686e/temperature/4/plot" value="false" />
    <add key="/lpc/it8686e/fan/0/plot" value="false" />
    <add key="/amdcpu/0/level/1/values" value="H4sIAAAAAAAEAHvQvYj57uzrHgwMHnb/fnUyMoDBCbsKoyQmCPuX3Z9GGHuavftXKLuh0/7E3kQ4+0sUTE2Vvcp5hJqdMDUMifaqKxDiQkhmfo6FsU/Ynn0CU8/A0BtwlAXGvqMAU+Nhl7ICzrZn7DnCAmNvgLvhhN0nbhhb3/6GG9wuO+ELSXDzbRpmQ/Ue+K929BIjTDzzhhAnjP02Lwnufnm4vxbZHxOZLwTTm5R6C6634+skIRi7YBrCnR+4EP5tcoeZs9v+Yp02CyPUnBt17nD3F5zLhJopZn+FDeGGhw2IMNz4DiF+ER5uJ+wzPBBxdyAS4V8AvueXFOwBAAA=" />
    <add key="/amdcpu/0/level/0/values" value="H4sIAAAAAAAEAEWRP0hCURjFNaWhlrAGtxwqhBaxJaLAs6Rj0KJBVI+CWkKCwKHkVUvR0mIIFoUN6lZNNRhGGi7lUwJNtMyE/mmI/SEqKuver3enH4fvnnu+c3PLXlXWk7QoTCp8vS8pFb+noQcOo1Dzx7pZfM5xtl7D/MI5lEY0OMJYiuF5gOvlBFpinPsy2KeZ0CFa/VzXZqEhz9sCngY5b5ZxUuDznTl0+bjuvkN/gPNbBRkd570iRslT/4CAi99dycP6Sp5JbFM2aR2VevI5R6qXs2ULjRJnfwTdoketYKG/2yIJ1olpAS5tkbHoxRplq+ac7qCuCjii/MP3KE0K/3maY/L8cdOGhvyFsTTztA8hOpNn7PAgbKN+dvFBnApCJB+xhEV6yy1Bn+C6wYdL2tF0g4pR7s2+Kv9juY72vcC8We457mxXK3m2lNPM9JwG9tMJJhumcFYr57kSqecD7DxyzoURp2zVDOMW4b+TkE1+9wdPOJrkfAIAAA==" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/factor/0/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/amdcpu/0/voltage/2/plot" value="false" />
    <add key="/lpc/it8720f/control/2/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1DwaGE046x/YbMoDBCac7YtxsEPaB/07u/kww8aN5fnwwtmj5akGYGtFzAXA12+9eEYexJzdNZWWEqmkv2w1X85n7Fi+MDQAhmuR8hAAAAA==" />
    <add key="/lpc/it8720f/control/1/values" value="" />
    <add key="/lpc/it8720f/control/0/values" value="" />
    <add key="/lpc/it8720f/fan/4/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1DwYg0Dm235ABCtYt5GKDsA78L9jjzwQTP5rnxwdjX7m1ShCmJiwrEK5m+90r4jB2+7MprIxQNZOF9sDVfOa+xQtjAwBv+1ukhAAAAA==" />
    <add key="/lpc/it8720f/fan/3/values" value="" />
    <add key="/lpc/it8720f/fan/2/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1jy3ts12iqgSZGICAMXm2y56niWB2VOlsl5fcSWA2SA1zYxJcjQyUDVJz/lMHJ4ytr4hQE2KUDGbzzprtEj4dYqYwUFzvPERNkd1sF5UVEPbOgNkut1sQ9vp/Q9i7cy9CHGYvSFwRyT33IhDuEc1Pgtu7biEXGwMYHPhfsMcfLr40CqJmM9Cc35EIM/9HIsxkmAZh7wK67So3QjxwH8KuK7dWCcLMD8sKhIvveREPZx+HutPn4mwXTqi9LbpzXP41QNjWQPEHTxLhbvjXjLBLCCmc73Mj2PEeCDUwN4PCsP3ZFFZGqHsmC+2Bm/kt6R0jzO8J3IjwWbECYc6tSkQ4PEGKd3Ok8AQAA8xnzDQCAAA=" />
    <add key="/lpc/it8720f/fan/1/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1jzlasS5RVYJMDEAAYu95mghmi0rEurzkToKLMzci2DJQdh9rrAsHEnv/3kS4GvPzSXBzLj6BiPcD1egrIsRXnzzCAmPrQdWzf45xUVmBMPN2SyKc7f8N4YZv+9XYYex7EQj1ovkINesWcrExgMGB/wV7/MHiBraxLkujEGp+RyLc8x/K5gC6gWEaQs1VaDg0PohxCdyHsOvKrVWCMPPDsgLB4vpA8/e8iIebebwRYT5nFMKcfw0Icx48QfjxXzNCvRBSmN9Hiot4D0w3g9jtz6awMkLdM1loD1z8W9I7Rpj5CdwI9SuQwvlWJcJtT5DUmOcj4gUAZPcC9zQCAAA=" />
    <add key="/lpc/it8720f/fan/0/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1j4tmBS5RVYJMDEDwYW6+y56niWD20pP5Li+5k8DseOVUF+ZGCPvGt2QXGShbTy7FhQPKPsCV4rJ/L0TviSkpLubnoWpyU1wuPoGISzxOdtFXRJiz+uQRFhhbD6p+D5CtsgKh5nYLRO8fwxQX/28Q8QigvTuhdi0D2gtzT1dkiosilJ29OM3lXgRU/eNMF9F8CHupYpbLuoVcbAxgcOB/wR5/sPjqvgKXpVEQNa1Av/+OhLBXKqW6/Iey084nuzBMg7CfuKa4XOVGhEPgviS4H6/cWiUIMz8sKxAsvl+kzGXPi3gwu84lz+U41J1TgG7jhNqrtTTT5V8DhD0N6M4H0HBbcQ4o3gwRLzbLchGC6vUC6r0PdcN1niyXeA8I+wuQDXMzSLz92RRWRqh7JgvtAYtn3M93+Zb0Dizs2p3tksCNcP8KaPifAob/rUoIm2lFsssTqBpQXJjnI9QDAF6jhQhMAgAA" />
    <add key="/lpc/it8720f/temperature/2/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1DwaGBU46x/YbMoDBAqfZVVxsEPaB/82P/Zlg4kfz/Phg7GObVwnC1KRMDISr2X73ijiMXbV/CisjVM0Cyz1wNZ+5b/HC2ADRpELFhAAAAA==" />
    <add key="/lpc/it8720f/temperature/1/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1DwYGQaeoKkEmBjAQcNrzNBHOfsmdBGVzO8kzHWWBsTkaYeJ8Tvv3wtRzOJmfh4nzOF18kgjXq6+YBFcTYpQMZXM5hU9PhLP1ziPUsD/s4ISxZeB2cTkpwtm8TvciEOKi+Qh7Z1dxsUHYB/43P/aHivM7LY1CqPkdibDrfyTCHIZpMDan01VuhJrAfQg1xzavEoSZnzIxECou7LTnRTzcbceR3MkZhTDzXwPCnAdI4fOvGaFeqBFhr+06NXYYu2r/FFZGqL0LLPdA1Qg6fUt6xwjzVwI3wq4VKxDsW5UIe58g+cs8H8EGAIxuLWkQAgAA" />
    <add key="/lpc/it8720f/temperature/0/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1DwYGEaeoKkEmBjAQddrzNBHKFnd6yZ0EZUs46Ua90oKxZ1dxsUHYB/43P/aHqzma58cHYx/bvEoQpiZlYiBczfa7V8Rh7Kr9U1gZoWoWWO6Bq/nMfYsXxgYAFQNRRKgAAAA=" />
    <add key="/lpc/it8720f/voltage/8/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1jy9/Qxx0ju03ZAACELs3mIuNAQwO/J/IFcAEEz+a58cHY+/tWSUIU5O7IxCuZvvdK+IwdvqMKayMUDWbE/bA1XzmvsULYwMAB0Xnt4QAAAA=" />
    <add key="/lpc/it8720f/voltage/7/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1DyMOHoeoKkEmBiDY7cnjsOdpIph99gyPw0vuJDB7mjO3g8ulf3Iw9s69EDUKrdwOMo0INYpQ9opj3A73IiBseaAa0XyEmt5gLjYGMDjwfyJXAFz90iiE+t+RCPWquzo5Yey9PasEYXpzdwTC1ex5EQ9nH4e6AeQ2ziiEOfdSj7DA2P+aIeLngH4UQnK/7To1dhg7fcYUVkaoXZsT9sDVfEt6xwhzcwJS+Mydi3AnALpNiKNcAQAA" />
    <add key="/lpc/it8720f/voltage/6/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1jwvfgx10ju03ZAACELs3mIuNAQwO/J/IFcAEEz+a58cHY+/tWSUIU5O7IxCuZvvdK+IwdvqMKayMUDWbE/bA1XzmvsULYwMAS2wmrYQAAAA=" />
    <add key="/lpc/it8720f/voltage/5/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1D5duHoeoKkEmBiBY5PrNfs/TRDB7y4lv9i+5k8Dsr3+v2DM3Qth3fv6zl4GyV3+8ZM8BZe+UO2q/fy9E73eNO/bm5yHiP4If2198AhF3Snhqr68IEX+l9tE+xCgZzK56+cw+fDpEjd6mu/Z6UL3c1x/bq6xIguu93QJRs979ob3/N4i4Hdd1+51Qe8P53sLddlHptr0ilM2v+8n+XgSE7fnwl71oPoR9VOGDfW8wFxsDGBz4P5ErACy+zp3RYWkUwt7fkRD2A/+z9v+h7BuLP9gzTIOwK/bdt78KDat1QLcF7oOwL/s+st/bs0oQZn7ujkCw+IXvwg57XsSD2TH9TA7HGxFu44Taa3P/vP2/Bgjbfdtn+wfQMHTtfmP/rxkivqTgr70QVO/Tpbft73Mj3BzvAWG7AfXC3HwF6J70GVNYGaHu2ZywByx+T4XN4VvSO7Bwjcg7+wSoOe9q/tuvgIb/oVMP7W9VQthAhQ5PoGoEI37am0PDs87+qz0AW9wltFgCAAA=" />
    <add key="/lpc/it8720f/voltage/4/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1j6apzg46x/YbMgABiN0bzMXGAAYH/k/kCmCCiR/N8+ODsff2rBKEqcndEQhXs/3uFXEYO33GFFZGqJrNCXvgaj5z3+KFsQHvgUr5hAAAAA==" />
    <add key="/lpc/it8720f/voltage/3/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1j6S/8x10ju03ZAACELs3mIuNAQwO/J/IFcAEEz+a58cHY+/tWSUIU5O7IxCuZvvdK+IwdvqMKayMUDWbE/bA1XzmvsULYwMAvxGBV4QAAAA=" />
    <add key="/lpc/it8720f/voltage/2/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1jwvfgx10ju03ZAACELtFh4uNAQwO/J9lGMAEEz+a58cHY+/tWSUIU5O7IxCuZvvdK+IwdvqMKayMUDWbE/bA1XzmvsULYwMAeDloWYQAAAA=" />
    <add key="/lpc/it8720f/voltage/1/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1j5Nl++x1ju03ZAACELtFh4uNAQwO/J9lGMAEEz+a58cHY+/tWSUIU5O7IxCuZvvdK+IwdvqMKayMUDWbE/bA1XzmvsULYwMAL2XL0IQAAAA=" />
    <add key="/lpc/it8720f/voltage/0/values" value="H4sIAAAAAAAEAEsO2cx8d/Z1j2qRdfZRVYJMDEDAw7Tafs/TRDj7JXcSmB20Y549cyOEfUlptr0MlH3w1EJ7jkaEmv17E+Hi5uch4vPeL7e/+AQizgs0U18xCc4OMUoGs7/8nWIfPh2ixuDuEns9JL0qKxDqb7cgzPH/hnDDTqi9yQIz4G4D6VWEskF+vBeBEBfNh7CvVqy0b9HhYmMAgwP/ZxkGwNUvjUqCu+d3JIL9PxJhL8M0CPsiMEyuciPUBO6DsFnD+uyXpa4ShJnfcj8Qbn5z1iEWGJszCuG2fw0I9gOkcPvXjPCLENRf+kC77nMjxOM9EHph7gSx4wqnsDJC3bCnfQ9c/T+xzWww9q1KRDg/4UboNc9HiAMAmOAH+zQCAAA=" />
    <add key="/lpc/it8686e/control/0/plot" value="false" />
    <add key="/lpc/it8686e/control/1/plot" value="false" />
    <add key="/lpc/it8686e/control/2/plot" value="false" />
    <add key="/lpc/it8792e/control/0/plot" value="false" />
    <add key="/lpc/it8792e/control/1/plot" value="false" />
    <add key="/lpc/it8792e/control/2/plot" value="false" />
    <add key="/amdcpu/0/factor/1/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/voltage/3/plot" value="false" />
    <add key="/amdcpu/0/factor/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/voltage/4/plot" value="false" />
    <add key="/amdcpu/0/factor/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/voltage/5/plot" value="false" />
    <add key="/amdcpu/0/factor/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/voltage/6/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/factor/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/voltage/7/plot" value="false" />
    <add key="/amdcpu/0/temperature/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/3/plot" value="false" />
    <add key="/amdcpu/0/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/fan/2/plot" value="false" />
    <add key="/lpc/it8792e/voltage/0/plot" value="false" />
    <add key="/lpc/it8792e/voltage/1/plot" value="false" />
    <add key="/lpc/it8792e/voltage/2/plot" value="false" />
    <add key="/lpc/it8792e/voltage/3/plot" value="false" />
    <add key="/lpc/it8792e/voltage/4/plot" value="false" />
    <add key="/lpc/it8792e/voltage/5/plot" value="false" />
    <add key="/lpc/it8792e/voltage/6/plot" value="false" />
    <add key="/lpc/it8792e/voltage/7/plot" value="false" />
    <add key="/lpc/it8792e/temperature/0/plot" value="false" />
    <add key="/lpc/it8792e/temperature/2/plot" value="false" />
  </appSettings>
</configuration>